@model IEnumerable<Alumno>

@{
    ViewData["Title"] = "Informacion Alumno";
    Layout = "_Simple";
}

<h1>@ViewData["Title"]</h1>

<!-- @foreach (var alumno in Model)
{
    <partial name="_ObjetoEscuelaSimple" model="alumno"></partial>
} -->

<table class="table table-dark table-hover">
    <thead>
        <th scope="col">Nombre</th>
        <th scope="col">Id</th>
    </thead>
    <tbody>
@foreach (var alumno in Model)
{
    <tr>
        <td>@alumno.Nombre</td>
        <td>@alumno.Id</td>
        <td>
              @Html.ActionLink("Editar", "Update", new { id = alumno.Id })
        </td>
        <td>
              @Html.ActionLink("Eliminar", "Delete", new { id = alumno.Id })
        </td>
    </tr>
}
    </tbody>
</table>